In [114]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import joblib

In [115]:
# Season: 1 = Summer, 0 = Winter
# Time: 1 = Day, 0 = Night
# Output: 1 = Converges, 0 = Explodes

df = pd.read_csv(r'C:\Users\Rohan\Desktop\Big Data\PSSE Files\Data\Data.csv')
df

      Bus  Voltage  Season  Time  Demand  Renewables  Output
0       1   1.0796       1     1     100           8       1
1       2   1.0988       1     1     100           8       1
2       3   1.0841       1     1     100           8       1
3       4   1.0650       1     1     100           8       1
4       5   1.0643       1     1     100           8       1
...   ...      ...     ...   ...     ...         ...     ...
2725   35   1.0469       0     0     200          50       0
2726   36   1.0829       0     0     200          50       0
2727   37   1.0804       0     0     200          50       0
2728   38   1.0920       0     0     200          50       0
2729   39   1.0313       0     0     200          50       0

[2730 rows x 7 columns]

In [116]:
X = df[['Season', 'Time', 'Demand', 'Renewables']]
y = df[['Voltage','Output']]

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

In [118]:
clf = DecisionTreeRegressor(random_state=0)

In [119]:
#Training the decision tree classifier. 
clf.fit(X_train, y_train)

y_pred =  clf.predict(X_test)
X_test

      Season  Time  Demand  Renewables
1927       1     0     150           8
250        1     1     100          20
2436       1     1     200           8
1105       1     1     120           8
270        1     1     100          20
...      ...   ...     ...         ...
2353       0     1     150          50
852        0     0     100          20
1468       1     0     120          50
469        1     1     100          50
2448       1     1     200           8

[956 rows x 4 columns]

In [120]:
y_pred

array([[0.63484583, 0.        ],
       [1.07471111, 1.        ],
       [0.65624348, 0.        ],
       ...,
       [0.640052  , 0.        ],
       [1.06916333, 1.        ],
       [0.65624348, 0.        ]])

In [121]:
score = clf.score(X_train, y_train)
print("R-squared:", score)

R-squared: 0.7018153802724163

In [122]:
mse = mean_squared_error(y_test, y_pred)
print("MSE: ", mse)
print("RMSE: ", mse*(1/2.0))

MSE:  0.030384006362763324
RMSE:  0.015192003181381662

In [123]:
predict_1 = clf.predict([[1, 1, 100, 5]])

In [124]:
print(predict_1)

[[1.06972381 1.        ]]

In [125]:
adj_r = 1 - (1-clf.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)

In [126]:
print(adj_r)

0.7011411357959265

In [127]:
joblib.dump(clf, "clf.pkl")

['clf.pkl']